name: Go

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:

  test:
    runs-on: ${{ matrix.os }}
    env:
      HOST: localhost
      PORT: 5432
      USER: root
      PASSWORD: root
      DBNAME: root

    strategy:
      matrix:
        go_version: ['1.18', '1.17', '>=1.18']
        os: ['ubuntu-latest', 'ubuntu-18.04']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go_version }}

    - name: Build-DB
      run: docker compose build

    - name: Create-DB
      run: docker compose up -d

    - name: Wait for Postgres
      run: |
        echo "Aguardando Postgres subir..."
        for i in {1..20}; do
          if docker compose exec -T postgres pg_isready -U root; then
            echo "Postgres está pronto!"
            break
          fi
          echo "Postgres não está pronto ainda... tentando novamente ($i)"
          sleep 2
        done

    - name: Test
      run: go test -v main_test.go
